@import url("https://fonts.googleapis.com/css?family=Arvo|Open+Sans");
@import "./components/material-icons.css";
@import "./components/loader.css";

html {
  min-width: 100%;
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.button,
a {
  font-family: "Arvo", serif;
}

header h1 {
  font-size: 3.6em;
  margin: 0;
}

button {
  color: white;
  background-color: black;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
  outline: none;
}

button.icon-btn {
  color: black;
  background: none;
}

.page.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page.is-hidden {
  display: none !important;
}
