@import "./_base.css";
@import "./components/pinned-tabs-list.css";
@import "./components/popup-windows.css";

nav {
  padding: 12px 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  font-family: "Arvo";
}

nav ul li {
  margin-right: 12px;
  cursor: pointer;
}

nav ul li.is-selected {
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.page.sign-in,
.page.error {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page.options {
  width: 100%;
  min-height: 100%;
  padding: 24px 0;
  box-sizing: border-box;
}

.page.options > main > section {
  display: none;
}

.page.options > main > section.is-selected {
  display: block;
}

.page.options header,
.page.options main {
  max-width: 800px;
  margin: 0 auto;
}
